body {
  margin: 0;
  height: 100vh;
  background: rgb(235, 235, 235);
  font-family: 'Courier New', Courier, monospace;
}

button {
  float: right;
  margin-bottom: 3em;
}

.container {
  display: grid;
}

section {
  height: 100vh;
}

.card {
  background: white;
  margin: 3em 0;
  padding: 4em;
  border-top: 5px solid green;
  animation: anim 1s infinite alternate;

  &:nth-of-type(1) {
    animation-delay: .5s;
  }

  &:nth-of-type(2) {
    animation-delay: .7s;
  }

  &:nth-of-type(2) {
    animation-delay: .1.2s;
  }
}

@keyframes anim {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 30em;
  }
}

@keyframes anim2 {
  from {
    transform: translateX(0em);
  }
  to {
    transform: translateX(30em);
  }
}

.newAnim {
  animation: anim2 1s infinite alternate !important;
}